<div class="d-flex flex-column align-items-start" *ngIf="dataSetService.selectedProject" [formGroup]="form">
  <h3>Créer une nouvelle feature pour le projet : {{ dataSetService.selectedProject.name }}</h3>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput #name formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput #description formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ressource</mat-label>
    <input matInput #resource formControlName="resource">
  </mat-form-field>
  <button mat-raised-button (click)="createFeature()">Créer</button>
</div>
