<div class="d-flex flex-column align-items-start" *ngIf="dataSetService.selectedProject && dataSetService.selectedFeature" [formGroup]="form">
  <h3>Créer une nouvelle règle de survey pour le projet : {{ dataSetService.selectedProject.name }} et la feature : {{ dataSetService.selectedFeature.name }}</h3>
  <mat-form-field appearance="fill">
    <mat-label>delay_before_new_proposition</mat-label>
    <input matInput type="number" #delay_before_new_proposition formControlName="delay_before_new_proposition">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>delay_to_answer</mat-label>
    <input matInput type="number" #delay_to_answer formControlName="delay_to_answer">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>ratio</mat-label>
    <input matInput type="number" #ratio formControlName="ratio">
  </mat-form-field>
  <button mat-raised-button (click)="createSurveyRule()">Créer</button>
</div>
